
  
  .login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .login_formContainer {
    width: 400px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1eded; 
  }
  
  .login_formContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .login_formContainer form > div {
    margin-bottom: 20px;
  }
  
  .login_formContainer form button {
    margin-top: 10px;
  }

  .typo_login{
    margin-bottom: 30px;
  }
  
 