.table-container {
  margin: 20px auto; /* Center the table container */
  width: 80%;
  text-align: center;
  box-shadow: 1px 1px 5px rgb(89, 85, 85);
   /* Center the contents of the container */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto; /* Center the table horizontally */
}

.table-header {
  background-color: #0c0000;
  color: #ffffff;
  -webkit-text-fill-color: #f2f2f2;
}

.table-row:nth-of-type(odd) {
  background-color: #f2f2f2;
}


.button-class{
  align-items: center;
  margin-left: 550px;
  margin-bottom: 20px;
  margin-top: 20px;
}